## Data Wrangling

This part of the project aims to join all relevant columns from the NHANES tables that were downloaded. The data was collected in 10 different cycles: 

cyle No.1 = 1999-2000 <br> 
cyle No.2 = 2001-2002 <br> 
cyle No.3 = 2003-2004 <br> 
cyle No.4 = 2005-2006<br> 
cyle No.5 = 2007-2008<br> 
cyle No.6 = 2009-2010<br> 
cyle No.7 = 2011-2012<br> 
cyle No.8 = 2013-2014<br>  
cyle No.9 = 2015-2016<br> 
cyle No.10 = 2017-2018<br> 

Each cycle has its own set of data tables. However, there are gaps in the data where some data was collected in some cycles but not others. In some cases similar data was lebeled differently from year to year.

The survey participants were given unique identifiers "SEQN". The SEQN numbers continues from cycle to cycle. The majority of the data tables that were downloaded contain irrelevant columns that will not be included in the final dataset. The relevant columns were extracted from each table using similar code series. In some cases where the same data column was represented with different names in different cycle, the columns were renamed to the same uniform name.  

The tables were initially concatenated by row, combining all the data from all the cycles. Then the columns were merged using an outer join to form the final data frame.

## Selecting Relevant Features

The features used in this study were carefully selected based on previous studies and literature reviews that have suggested there may be direct or indirect impact of these features on the health and immunity of individuals.

White blood cell count cutoffs were used ] to classify the survey participant's systems as strong or weak. A white blood cell (WBC) differential gives the count and/or percentage of the five major white blood cell types. Having a normal level for each subtype is important for your immune health.

Neutrophils — these first-responders at infection and inflammation sites help fight infection by ingesting microbes and releasing enzymes that kill them.

Lymphocytes(T cells, B cells, and Natural Killer cells) — these are cells that produce antibodies against microbes, kill cancer or virus-infected cells, and help direct the immune response.

Monocytes — cells that kill microbes, ingest foreign particles, remove dead cells, and boost the immune response.

Eosinophils — cells that fight parasite infections and are involved in the allergic response.

Basophils — cells involved in inflammatory responses.

Some vitamins and minerals e.g Vitamins A B C D E and folic acid and iron are believed play a crucial role in WBC formation.  Low levels of selenium, copper, and zinc are suspected to play a role in low WBC production although not yet proven scientifically. A blood test can identify whether these nutrients are low. The extent to which there nutrients contribute to a increased levels of WBC has not been scientifically determined.

Pregnancy and Smoking can cause lower levels of WBC

Alcoholism can also result in these chronnic malnutrition and can therefore also be a cause of low WBC.

Weight and BMI can lead to increased or decreased WBC count.

Viral infections that last for several months (or indefinitely) and diseases that affect the immune system such HIV can causes low white blood cell count

Cancers that impact the bone marrow can cause low WBC counts, as most most white blood cells are produced in the bone marrow. Most cancer treatments also cause a drop in WBC counts. WBC counts would be extremely low in these situations, not just mildly below the normal range.

Age has also been understood as a general determinant of immune system health. Generally elderly people tend to have weaker immune systems.

Race can also have an impact of an indviduals WBC count. For example people of African origin can have a strong immune system even when their base level of white blood cell count are lower than normal

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

### Demographic data

In [3]:
#Make dictionary of columns of interest to be extracted from the demographic table
DEM_Columns = {
    "SEQN": "Respondent sequence number",
    "SDDSRVYR": "Data release cycle",
    "RIAGENDR": "Gender",
    "RIDAGEYR": "Age in years at screening",
    "RIDAGEMN": "Age in months at screening - 0 to 24 mos",
    "RIDRETH1": "Race/Hispanic origin",
    "RIDEXPRG": "Pregnancy status at exam"
}

In [4]:
#load demographic data of cycle No. 1
#Extract relevant columns
df_1999demo = pd.read_sas('/Users/ruserel/DEMO.XPT', format='xport', encoding='utf-8')
df_1999demo = df_1999demo[list(DEM_Columns.keys())]
df_1999demo.head(2)

   SEQN  SDDSRVYR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  RIDEXPRG
0   1.0       1.0       2.0       2.0      29.0       4.0       NaN
1   2.0       1.0       1.0      77.0     926.0       3.0       NaN

In [5]:
df_1999demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9965 entries, 0 to 9964
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      9965 non-null   float64
 1   SDDSRVYR  9965 non-null   float64
 2   RIAGENDR  9965 non-null   float64
 3   RIDAGEYR  9965 non-null   float64
 4   RIDAGEMN  9792 non-null   float64
 5   RIDRETH1  9965 non-null   float64
 6   RIDEXPRG  1962 non-null   float64
dtypes: float64(7)
memory usage: 545.1 KB

In [6]:
df_1999demo.shape

(9965, 7)

In [7]:
# There a many missing values in the pregnancy column. Check to see the value_counts
df_1999demo['RIDEXPRG'].value_counts()

2.0    1443
1.0     311
3.0     208
Name: RIDEXPRG, dtype: int64

In [8]:
#Check to see if NaN only correspond with individuals who are biologically incapable of getting pregnant
df_1999demo[df_1999demo['RIAGENDR'] == 2][df_1999demo['RIDAGEYR'] >= 16]

        SEQN  SDDSRVYR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  RIDEXPRG
5        6.0       1.0       2.0      19.0     230.0       5.0       2.0
6        7.0       1.0       2.0      59.0     712.0       4.0       2.0
14      15.0       1.0       2.0      38.0     459.0       3.0       2.0
15      16.0       1.0       2.0      85.0       NaN       4.0       NaN
19      20.0       1.0       2.0      23.0     285.0       1.0       1.0
...      ...       ...       ...       ...       ...       ...       ...
9953  9954.0       1.0       2.0      36.0     441.0       4.0       2.0
9955  9956.0       1.0       2.0      46.0     558.0       4.0       2.0
9957  9958.0       1.0       2.0      43.0     527.0       1.0       2.0
9962  9963.0       1.0       2.0      18.0     224.0       3.0       1.0
9964  9965.0       1.0       2.0      84.0    1014.0       3.0       NaN

[3182 rows x 7 columns]

In [9]:
#It seems like NaN values correspond to individuals who cannot get pregnant
#Replace NaN with "Not applicable" for individuals who cannot get pregnant
df_1999demo["RIDEXPRG"].fillna("N\A", inplace = True)

df_1999demo.head()

   SEQN  SDDSRVYR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1 RIDEXPRG
0   1.0       1.0       2.0       2.0      29.0       4.0      N\A
1   2.0       1.0       1.0      77.0     926.0       3.0      N\A
2   3.0       1.0       2.0      10.0     125.0       3.0      N\A
3   4.0       1.0       1.0       1.0      22.0       4.0      N\A
4   5.0       1.0       1.0      49.0     597.0       3.0      N\A

In [10]:
df_1999demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9965 entries, 0 to 9964
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      9965 non-null   float64
 1   SDDSRVYR  9965 non-null   float64
 2   RIAGENDR  9965 non-null   float64
 3   RIDAGEYR  9965 non-null   float64
 4   RIDAGEMN  9792 non-null   float64
 5   RIDRETH1  9965 non-null   float64
 6   RIDEXPRG  9965 non-null   object
dtypes: float64(6), object(1)
memory usage: 545.1+ KB

Column for age in months 'RIDAGEMN' has missing values. We need to examine what the missing values are compared to the corresponding age in years 'RIDAGEYR'

In [11]:
# Column for age in years has unreasonable value of 5.397605e-79 which is essentially 0. It seems the individuals with 
#0 years have corresponding months less than 12months in the age in months column
df_1999demo[df_1999demo['RIDAGEYR'] == df_1999demo['RIDAGEYR'].min()]

,SEQN,SDDSRVYR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDEXPRG
18,19.0,1.0,1.0,5.397605e-79,1.100000e+01,1.0,N\A
47,48.0,1.0,2.0,5.397605e-79,5.397605e-79,3.0,N\A
50,51.0,1.0,2.0,5.397605e-79,3.000000e+00,3.0,N\A
62,63.0,1.0,2.0,5.397605e-79,7.000000e+00,1.0,N\A
98,99.0,1.0,2.0,5.397605e-79,4.000000e+00,1.0,N\A
...,...,...,...,...,...,...,...
9765,9766.0,1.0,2.0,5.397605e-79,4.000000e+00,1.0,N\A
9811,9812.0,1.0,2.0,5.397605e-79,4.000000e+00,3.0,N\A
9883,9884.0,1.0,1.0,5.397605e-79,9.000000e+00,1.0,N\A
9890,9891.0,1.0,2.0,5.397605e-79,1.100000e+01,2.0,N\A
9958,9959.0,1.0,2.0,5.397605e-79,3.000000e+00,1.0,N\A

In [12]:
#Round the age in years and age in months to the nearest integer
df_1999demo['RIDAGEMN'] = df_1999demo['RIDAGEMN'].round()
df_1999demo["RIDAGEYR"] = df_1999demo["RIDAGEYR"].round()

In [13]:
df_1999demo.head()

   SEQN  SDDSRVYR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1 RIDEXPRG
0   1.0       1.0       2.0       2.0      29.0       4.0      N\A
1   2.0       1.0       1.0      77.0     926.0       3.0      N\A
2   3.0       1.0       2.0      10.0     125.0       3.0      N\A
3   4.0       1.0       1.0       1.0      22.0       4.0      N\A
4   5.0       1.0       1.0      49.0     597.0       3.0      N\A

In [14]:
#Check df to see if it worked for individuals less than 12 months
df_1999demo[df_1999demo['RIDAGEYR'] == df_1999demo['RIDAGEYR'].min()]

        SEQN  SDDSRVYR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1 RIDEXPRG
18      19.0       1.0       1.0       0.0      11.0       1.0      N\A
47      48.0       1.0       2.0       0.0       0.0       3.0      N\A
50      51.0       1.0       2.0       0.0       3.0       3.0      N\A
62      63.0       1.0       2.0       0.0       7.0       1.0      N\A
98      99.0       1.0       2.0       0.0       4.0       1.0      N\A
...      ...       ...       ...       ...       ...       ...      ...
9765  9766.0       1.0       2.0       0.0       4.0       1.0      N\A
9811  9812.0       1.0       2.0       0.0       4.0       3.0      N\A
9883  9884.0       1.0       1.0       0.0       9.0       1.0      N\A
9890  9891.0       1.0       2.0       0.0      11.0       2.0      N\A
9958  9959.0       1.0       2.0       0.0       3.0       1.0      N\A

[472 rows x 7 columns]

In [15]:
#Fill in null values in age in month col by multiplying age in years by 12
df_1999demo["RIDAGEMN"].fillna(df_1999demo["RIDAGEYR"]*12, inplace = True)

In [16]:
df_1999demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9965 entries, 0 to 9964
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      9965 non-null   float64
 1   SDDSRVYR  9965 non-null   float64
 2   RIAGENDR  9965 non-null   float64
 3   RIDAGEYR  9965 non-null   float64
 4   RIDAGEMN  9965 non-null   float64
 5   RIDRETH1  9965 non-null   float64
 6   RIDEXPRG  9965 non-null   object
dtypes: float64(6), object(1)
memory usage: 545.1+ KB

In [17]:
#define a function to clean the demography data frames

def demography_dataframe_cleaning(df, DEM_Columns = DEM_Columns):
    #Select desired columns
    df = df[list(DEM_Columns.keys())]
    #Replace NaN with "Not applicable" for individuals who cannot get pregnant
    df["RIDEXPRG"].fillna("N\A", inplace = True)
    #Round the age in years and age in months to the nearest integer
    df['RIDAGEMN'] = df['RIDAGEMN'].round()
    df["RIDAGEYR"] = df["RIDAGEYR"].round()
    #Fill in null values in age in month col by multiplying age in years by 12
    df["RIDAGEMN"].fillna(df["RIDAGEYR"]*12, inplace = True)
    
    return df

In [18]:
df_2001demo = pd.read_sas('/Users/ruserel/DEMO_B.XPT', format='xport', encoding='utf-8')

In [19]:
df_temp = demography_dataframe_cleaning(df_2001demo)
df_temp.head()

     SEQN  SDDSRVYR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1 RIDEXPRG
0  9966.0       2.0       1.0      39.0     472.0       3.0      N\A
1  9967.0       2.0       1.0      23.0     283.0       4.0      N\A
2  9968.0       2.0       2.0      84.0    1011.0       3.0      N\A
3  9969.0       2.0       2.0      51.0     612.0       3.0      2.0
4  9970.0       2.0       1.0      16.0     200.0       2.0      N\A

In [20]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11039 entries, 0 to 11038
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      11039 non-null  float64
 1   SDDSRVYR  11039 non-null  float64
 2   RIAGENDR  11039 non-null  float64
 3   RIDAGEYR  11039 non-null  float64
 4   RIDAGEMN  11039 non-null  float64
 5   RIDRETH1  11039 non-null  float64
 6   RIDEXPRG  11039 non-null  object
dtypes: float64(6), object(1)
memory usage: 603.8+ KB

In [21]:
#Load all the demography data tables for all the cycles which are stored in the 'NHANES_Demography' folder and store 
#them in the 'DataFrame_Collection' list
import glob

DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_Demography/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [22]:
len(DataFrame_Collection)

10

In [23]:
#Use the data cleaning function to clean each data frame in "DataFrame_Collection" list and add them to a new list "demolist"
demolist = list()
for df in DataFrame_Collection:
    demolist.append(demography_dataframe_cleaning(df))

In [24]:
#concatenate the data from all the 10 dataframes into one data frame
demo_merged_df = demolist[0]
for i in range(1,10):
    demo_merged_df = pd.concat([demo_merged_df, demolist[i]])

In [25]:
demo_merged_df.shape

(101316, 7)

In [26]:
#combine demography data frame

demo_merged_df.head()

      SEQN  SDDSRVYR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1 RIDEXPRG
0  62161.0       7.0       1.0      22.0     264.0       3.0      N\A
1  62162.0       7.0       2.0       3.0      36.0       1.0      N\A
2  62163.0       7.0       1.0      14.0     168.0       5.0      N\A
3  62164.0       7.0       2.0      44.0     528.0       3.0      2.0
4  62165.0       7.0       2.0      14.0     168.0       4.0      N\A

In [27]:
demo_merged_df["SDDSRVYR"].value_counts()

2.0     11039
6.0     10537
4.0     10348
8.0     10175
5.0     10149
3.0     10122
9.0      9971
1.0      9965
7.0      9756
10.0     9254
Name: SDDSRVYR, dtype: int64

#### ******************************END OF DEMOGRAPHIC DATA******************************

### Body measurements data

In [28]:
Body_columns = {'SEQN':'Respondent sequence number', 
                 'BMXWT':'Weight (kg)', 
                 'BMXBMI':'Body Mass Index (kg/m**2)'
    
}

In [29]:
def BODY_dataframe_cleaning(df,Body_columns = Body_columns):
    df = df[list(Body_columns.keys())]
    return df

In [30]:
import glob

DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES-Body_weight/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [31]:
bodylist = list()
for df in DataFrame_Collection:
    bodylist.append(BODY_dataframe_cleaning(df))

In [32]:
# merge the data from all files into one data frame
Body_merged_df = bodylist[0]
for i in range(1,10):
    Body_merged_df = pd.concat([Body_merged_df, bodylist[i]])

In [33]:
Body_merged_df.head()

   SEQN  BMXWT  BMXBMI
0   1.0   12.5   14.90
1   2.0   75.4   24.90
2   3.0   32.9   17.63
3   4.0   13.3     NaN
4   5.0   92.5   29.10

****END OF BODY MEASUREMENTS DATA *******

### Alcohol Consumption Data

In [34]:
Alcohol_columns = {'SEQN':'Respondent sequence number',
                   'ALQ130': 'Avg # alcoholic drinks/day -past 12 mos'
}

In [35]:
def ALCOHOL_dataframe_cleaning(df,Alcohol_columns = Alcohol_columns):
    df = df[list(Alcohol_columns.keys())]
    return df

In [36]:
import glob

DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_alcohol/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [37]:
alcohollist = list()
for df in DataFrame_Collection:
    alcohollist.append(ALCOHOL_dataframe_cleaning(df))

In [38]:
# merge the data from all files into one data frame
Alcohol_merged_df = alcohollist[0]
for i in range(1,10):
    Alcohol_merged_df = pd.concat([Alcohol_merged_df, alcohollist[i]])

In [39]:
Alcohol_merged_df

          SEQN  ALQ130
0       9966.0     2.0
1       9967.0     1.0
2       9968.0     1.0
3       9969.0     2.0
4       9972.0     NaN
...        ...     ...
5528  102949.0     NaN
5529  102952.0     NaN
5530  102953.0    12.0
5531  102954.0     NaN
5532  102956.0     2.0

[53559 rows x 2 columns]

****END OF ALCOHOL DATA *****

### Smoking Data

In [40]:
Smoking2_columns = {'SEQN':'Respondent sequence number',
                   'SMQ650': 'Avg # cigarettes/day during past 30 days'
                
    
}

In [41]:
def SMOKING2_dataframe_cleaning(df,Smoking2_columns = Smoking2_columns):
    df = df[list(Smoking2_columns.keys())]
    df = df.rename(columns = {'SMQ650':'SMD650'})
    return df

In [42]:
import glob

DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_smoking_2/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [43]:
smokinglist = list()
for df in DataFrame_Collection:
    smokinglist.append(SMOKING2_dataframe_cleaning(df))

Some tables containg 'SMD650' in place of 'SMQ650'. The data should be combined and stored in the same column

In [44]:
Smoking_columns = {'SEQN':'Respondent sequence number',
                   'SMD650': 'Avg # cigarettes/day during past 30 days'
                
    
}

In [45]:
def SMOKING_dataframe_cleaning(df,Smoking_columns = Smoking_columns):
    df = df[list(Smoking_columns.keys())]
    return df

In [46]:
import glob

DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_smoking_1/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [47]:

for df in DataFrame_Collection:
    smokinglist.append(SMOKING_dataframe_cleaning(df))

In [48]:
#merge the data from all files into one data frame
Smoking_merged_df = smokinglist[0]
for i in range(1,10):
    Smoking_merged_df = pd.concat([Smoking_merged_df, smokinglist[i]])

In [49]:
Smoking_merged_df

          SEQN  SMD650
0       9966.0     NaN
1       9967.0     NaN
2       9968.0     NaN
3       9969.0     NaN
4       9970.0     NaN
...        ...     ...
6719  102952.0     NaN
6720  102953.0     NaN
6721  102954.0     NaN
6722  102955.0     NaN
6723  102956.0    20.0

[70735 rows x 2 columns]

*****END OF SMOKING DATA*****

### MEDICAL CONDITIONS DATA

In [50]:
medcond_columns = {'SEQN':'Respondent sequence number',
                   'MCQ053': 'Taking treatment for anemia/past 3 mos',
                   'MCQ220': 'Ever told you had cancer or malignancy',
                   'MCQ230A': 'What kind of cancer',
                   'MCQ230B': 'What kind of cancer',
                   'MCQ230C': 'What kind of cancer'
}

In [51]:
def MEDCOND_dataframe_cleaning(df,medcond_columns = medcond_columns):
    df = df[list(medcond_columns.keys())]
    return df

In [52]:
import glob

DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_medicalConditions_2/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [53]:
medcondlist = list()
for df in DataFrame_Collection:
    medcondlist.append(MEDCOND_dataframe_cleaning(df))

In [54]:
# merge the data from all files into one data frame
MedicalCond_merged_df = medcondlist[0]
for i in range(1,6):
    MedicalCond_merged_df = pd.concat([MedicalCond_merged_df, medcondlist[i]])

In [55]:
MedicalCond_merged_df

         SEQN  MCQ053  MCQ220  MCQ230A  MCQ230B  MCQ230C
0      9966.0     2.0     2.0      NaN      NaN      NaN
1      9967.0     2.0     2.0      NaN      NaN      NaN
2      9968.0     2.0     2.0      NaN      NaN      NaN
3      9969.0     2.0     2.0      NaN      NaN      NaN
4      9970.0     2.0     NaN      NaN      NaN      NaN
...       ...     ...     ...      ...      ...      ...
9661  51619.0     2.0     2.0      NaN      NaN      NaN
9662  51620.0     1.0     2.0      NaN      NaN      NaN
9663  51621.0     2.0     NaN      NaN      NaN      NaN
9664  51622.0     2.0     2.0      NaN      NaN      NaN
9665  51623.0     2.0     2.0      NaN      NaN      NaN

[59076 rows x 6 columns]

***END OF MEDICAL CONDITIONS DATA*****

### CBC data

The columns of interest in the CBC data was for all the white blood cell counts. The data was represented in two different units

In [56]:
CBC_column_names = {
    "SEQN" : "Respondent sequence number",
    "LBXWBCSI" : "White blood cell count (1000 cells/uL)",
    "LBXLYPCT" : "Lymphocyte percent (%)",
    "LBXMOPCT" : "Monocyte percent (%)",
    "LBXNEPCT" : "Segmented neutrophils percent (%)",
    "LBXEOPCT" : "Eosinophils percent (%)",
    "LBXBAPCT" : "Basophils percent (%)",
    "LBDLYMNO" : "Lymphocyte number (1000 cells/uL)",
    "LBDMONO" : "Monocyte number (1000 cells/uL)",
    "LBDNENO" : "Segmented neutrophils num (1000 cell/uL)",
    "LBDEONO" : "Eosinophils number (1000 cells/uL)",
    "LBDBANO" : "Basophils number (1000 cells/uL)",
    "LBXRBCSI" : "Red blood cell count (million cells/uL)"
}

In [57]:
df_2013cbc = pd.read_sas('/Users/ruserel/CBC_H.XPT', format='xport', encoding='utf-8')
df_2013cbc.head(10)

,SEQN,LBXWBCSI,LBXLYPCT,LBXMOPCT,LBXNEPCT,LBXEOPCT,LBXBAPCT,LBDLYMNO,LBDMONO,LBDNENO,...,LBDBANO,LBXRBCSI,LBXHGB,LBXHCT,LBXMCVSI,LBXMCHSI,LBXMC,LBXRDW,LBXPLTSI,LBXMPSI
0,73557.0,4.7,42.2,11.0,42.3,3.4,1.2,2.0,0.5,2.0,...,1.000000e-01,5.09,15.2,45.4,89.3,29.9,33.4,14.0,204.0,9.0
1,73558.0,12.6,27.3,7.6,58.4,6.1,0.6,3.4,1.0,7.4,...,1.000000e-01,3.84,11.9,36.7,95.4,31.0,32.5,13.4,314.0,8.4
2,73559.0,7.2,13.9,11.5,68.2,5.6,0.9,1.0,0.8,4.9,...,1.000000e-01,5.53,17.2,49.9,90.5,31.1,34.3,13.4,237.0,9.3
3,73560.0,7.8,29.6,9.2,59.1,1.7,0.4,2.3,0.7,4.6,...,5.397605e-79,4.61,12.9,37.8,82.1,28.0,34.0,13.7,240.0,8.0
4,73561.0,6.6,20.5,6.9,68.7,2.4,1.4,1.4,0.5,4.5,...,1.000000e-01,4.72,14.5,43.8,92.8,30.6,33.0,12.3,300.0,8.6
5,73562.0,9.4,17.4,6.6,69.2,5.9,0.9,1.6,0.6,6.5,...,1.000000e-01,4.93,14.2,41.5,84.1,28.8,34.2,13.5,249.0,8.1
6,73564.0,5.2,30.2,5.9,58.3,5.1,0.6,1.6,0.3,3.0,...,5.397605e-79,4.66,13.5,39.8,85.1,28.8,33.8,13.7,180.0,9.0
7,73566.0,9.5,31.3,7.7,57.5,3.3,0.3,3.0,0.7,5.5,...,5.397605e-79,4.43,14.3,41.4,93.5,32.3,34.6,12.9,296.0,7.2
8,73567.0,6.3,22.0,9.4,64.0,3.2,1.4,1.4,0.6,4.0,...,1.000000e-01,4.35,15.2,43.1,99.1,34.9,35.3,13.7,187.0,7.7
9,73568.0,6.0,20.9,7.7,70.1,0.8,0.7,1.3,0.5,4.2,...,5.397605e-79,4.81,15.1,44.2,91.9,31.3,34.1,13.1,231.0,9.3

In [58]:
df_2013cbc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9422 entries, 0 to 9421
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      9422 non-null   float64
 1   LBXWBCSI  8544 non-null   float64
 2   LBXLYPCT  8519 non-null   float64
 3   LBXMOPCT  8519 non-null   float64
 4   LBXNEPCT  8519 non-null   float64
 5   LBXEOPCT  8519 non-null   float64
 6   LBXBAPCT  8519 non-null   float64
 7   LBDLYMNO  8519 non-null   float64
 8   LBDMONO   8519 non-null   float64
 9   LBDNENO   8519 non-null   float64
 10  LBDEONO   8519 non-null   float64
 11  LBDBANO   8519 non-null   float64
 12  LBXRBCSI  8544 non-null   float64
 13  LBXHGB    8544 non-null   float64
 14  LBXHCT    8544 non-null   float64
 15  LBXMCVSI  8544 non-null   float64
 16  LBXMCHSI  8544 non-null   float64
 17  LBXMC     8544 non-null   float64
 18  LBXRDW    8544 non-null   float64
 19  LBXPLTSI  8544 non-null   float64
 20  LBXMPSI   8544 non-null   float64
dtypes: float64(21)
memory usage: 1.5 MB

In [59]:
df_2013cbc = df_2013cbc[list(CBC_column_names.keys())]
df_2013cbc.head()

,SEQN,LBXWBCSI,LBXLYPCT,LBXMOPCT,LBXNEPCT,LBXEOPCT,LBXBAPCT,LBDLYMNO,LBDMONO,LBDNENO,LBDEONO,LBDBANO,LBXRBCSI
0,73557.0,4.7,42.2,11.0,42.3,3.4,1.2,2.0,0.5,2.0,0.2,1.000000e-01,5.09
1,73558.0,12.6,27.3,7.6,58.4,6.1,0.6,3.4,1.0,7.4,0.8,1.000000e-01,3.84
2,73559.0,7.2,13.9,11.5,68.2,5.6,0.9,1.0,0.8,4.9,0.4,1.000000e-01,5.53
3,73560.0,7.8,29.6,9.2,59.1,1.7,0.4,2.3,0.7,4.6,0.1,5.397605e-79,4.61
4,73561.0,6.6,20.5,6.9,68.7,2.4,1.4,1.4,0.5,4.5,0.2,1.000000e-01,4.72

In [60]:
df_2013cbc.shape

(9422, 13)

In [61]:
df_2013cbc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9422 entries, 0 to 9421
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      9422 non-null   float64
 1   LBXWBCSI  8544 non-null   float64
 2   LBXLYPCT  8519 non-null   float64
 3   LBXMOPCT  8519 non-null   float64
 4   LBXNEPCT  8519 non-null   float64
 5   LBXEOPCT  8519 non-null   float64
 6   LBXBAPCT  8519 non-null   float64
 7   LBDLYMNO  8519 non-null   float64
 8   LBDMONO   8519 non-null   float64
 9   LBDNENO   8519 non-null   float64
 10  LBDEONO   8519 non-null   float64
 11  LBDBANO   8519 non-null   float64
 12  LBXRBCSI  8544 non-null   float64
dtypes: float64(13)
memory usage: 957.0 KB

In [62]:
df_2013cbc.isna().sum()

SEQN          0
LBXWBCSI    878
LBXLYPCT    903
LBXMOPCT    903
LBXNEPCT    903
LBXEOPCT    903
LBXBAPCT    903
LBDLYMNO    903
LBDMONO     903
LBDNENO     903
LBDEONO     903
LBDBANO     903
LBXRBCSI    878
dtype: int64

In [63]:
df_2013cbc[df_2013cbc["LBXRBCSI"].isna()]

,SEQN,LBXWBCSI,LBXLYPCT,LBXMOPCT,LBXNEPCT,LBXEOPCT,LBXBAPCT,LBDLYMNO,LBDMONO,LBDNENO,LBDEONO,LBDBANO,LBXRBCSI
10,73570.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,73573.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,73578.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,73582.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,73583.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9374,83681.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9389,83697.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9410,83719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9416,83726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9421,83731.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
CBC_column_names.get("LBDBANO")

'Basophils number (1000 cells/uL)'

In [65]:
df_2013cbc["LBDBANO"].describe()

count    8.519000e+03
mean     4.440662e-02
std      5.174914e-02
min      5.397605e-79
25%      5.397605e-79
50%      5.397605e-79
75%      1.000000e-01
max      8.000000e-01
Name: LBDBANO, dtype: float64

In [66]:
def CBC_dataframe_cleaning(df,CBC_column_names = CBC_column_names):
    df = df[list(CBC_column_names.keys())]
    return df

In [67]:
import glob

DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_CBC_data/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [68]:
cbclist = list()
for df in DataFrame_Collection:
    cbclist.append(CBC_dataframe_cleaning(df))

In [69]:
#we are going to merge the data from all files into one data frame
CBC_merged_df = cbclist[0]
for i in range(1,10):
    CBC_merged_df = pd.concat([CBC_merged_df, cbclist[i]])

In [70]:
CBC_merged_df.head()

,SEQN,LBXWBCSI,LBXLYPCT,LBXMOPCT,LBXNEPCT,LBXEOPCT,LBXBAPCT,LBDLYMNO,LBDMONO,LBDNENO,LBDEONO,LBDBANO,LBXRBCSI
0,73557.0,4.7,42.2,11.0,42.3,3.4,1.2,2.0,0.5,2.0,0.2,1.000000e-01,5.09
1,73558.0,12.6,27.3,7.6,58.4,6.1,0.6,3.4,1.0,7.4,0.8,1.000000e-01,3.84
2,73559.0,7.2,13.9,11.5,68.2,5.6,0.9,1.0,0.8,4.9,0.4,1.000000e-01,5.53
3,73560.0,7.8,29.6,9.2,59.1,1.7,0.4,2.3,0.7,4.6,0.1,5.397605e-79,4.61
4,73561.0,6.6,20.5,6.9,68.7,2.4,1.4,1.4,0.5,4.5,0.2,1.000000e-01,4.72

In [71]:
CBC_merged_df.shape

(92431, 13)

In [72]:
CBC_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92431 entries, 0 to 9306
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      92431 non-null  float64
 1   LBXWBCSI  82923 non-null  float64
 2   LBXLYPCT  82744 non-null  float64
 3   LBXMOPCT  82744 non-null  float64
 4   LBXNEPCT  82744 non-null  float64
 5   LBXEOPCT  82744 non-null  float64
 6   LBXBAPCT  82744 non-null  float64
 7   LBDLYMNO  82741 non-null  float64
 8   LBDMONO   82741 non-null  float64
 9   LBDNENO   82741 non-null  float64
 10  LBDEONO   82741 non-null  float64
 11  LBDBANO   82741 non-null  float64
 12  LBXRBCSI  82926 non-null  float64
dtypes: float64(13)
memory usage: 9.9 MB

In [73]:
CBC_merged_df.head()

,SEQN,LBXWBCSI,LBXLYPCT,LBXMOPCT,LBXNEPCT,LBXEOPCT,LBXBAPCT,LBDLYMNO,LBDMONO,LBDNENO,LBDEONO,LBDBANO,LBXRBCSI
0,73557.0,4.7,42.2,11.0,42.3,3.4,1.2,2.0,0.5,2.0,0.2,1.000000e-01,5.09
1,73558.0,12.6,27.3,7.6,58.4,6.1,0.6,3.4,1.0,7.4,0.8,1.000000e-01,3.84
2,73559.0,7.2,13.9,11.5,68.2,5.6,0.9,1.0,0.8,4.9,0.4,1.000000e-01,5.53
3,73560.0,7.8,29.6,9.2,59.1,1.7,0.4,2.3,0.7,4.6,0.1,5.397605e-79,4.61
4,73561.0,6.6,20.5,6.9,68.7,2.4,1.4,1.4,0.5,4.5,0.2,1.000000e-01,4.72

**END OF CBC DATA**

In [74]:
HIV_column_names = {'SEQN': 'Respondent sequence number', 
                    'LBDHI': 'HIV Result (western blot)'
}

In [75]:
df_2015HIV = pd.read_sas('/Users/ruserel/HIV_I.XPT', format='xport', encoding='utf-8')
df_2015HIV.head(5)

      SEQN  LBXHIVC  LBXHIV1  LBXHIV2  LBXHNAT
0  83733.0      2.0      NaN      NaN      NaN
1  83735.0      2.0      NaN      NaN      NaN
2  83736.0      2.0      NaN      NaN      NaN
3  83741.0      2.0      NaN      NaN      NaN
4  83742.0      2.0      NaN      NaN      NaN

In [76]:
df_2015HIV = df_2015HIV.rename(columns = {'LBXHIVC':'LBDHI'})
df_2015HIV.head()

      SEQN  LBDHI  LBXHIV1  LBXHIV2  LBXHNAT
0  83733.0    2.0      NaN      NaN      NaN
1  83735.0    2.0      NaN      NaN      NaN
2  83736.0    2.0      NaN      NaN      NaN
3  83741.0    2.0      NaN      NaN      NaN
4  83742.0    2.0      NaN      NaN      NaN

In [77]:
df_2017HIV = pd.read_sas('/Users/ruserel/HIV_J.XPT', format='xport', encoding='utf-8')
df_2017HIV.head(5)

      SEQN  LBXHIVC  LBXHIV1  LBXHIV2  LBXHNAT
0  93706.0      2.0      NaN      NaN      NaN
1  93711.0      2.0      NaN      NaN      NaN
2  93712.0      2.0      NaN      NaN      NaN
3  93714.0      2.0      NaN      NaN      NaN
4  93717.0      2.0      NaN      NaN      NaN

In [78]:
df_2017HIV = df_2017HIV.rename(columns = {'LBXHIVC':'LBDHI'})
df_2017HIV.head()

      SEQN  LBDHI  LBXHIV1  LBXHIV2  LBXHNAT
0  93706.0    2.0      NaN      NaN      NaN
1  93711.0    2.0      NaN      NaN      NaN
2  93712.0    2.0      NaN      NaN      NaN
3  93714.0    2.0      NaN      NaN      NaN
4  93717.0    2.0      NaN      NaN      NaN

In [79]:
df_2001HIV = pd.read_sas('/Users/ruserel/L03_B.XPT', format='xport', encoding='utf-8')
df_2001HIV.head(5)

     SEQN  LBDHI  LBXCD4  LBXCD8
0  9966.0    2.0     NaN     NaN
1  9967.0    2.0     NaN     NaN
2  9972.0    2.0     NaN     NaN
3  9976.0    2.0     NaN     NaN
4  9984.0    2.0     NaN     NaN

In [80]:
df_2001HIV = df_2001HIV[['SEQN', 'LBDHI']]
df_2001HIV.head()

     SEQN  LBDHI
0  9966.0    2.0
1  9967.0    2.0
2  9972.0    2.0
3  9976.0    2.0
4  9984.0    2.0

In [81]:
def LBDHI_dataframe_cleaning(df,):
    df = df[['SEQN', 'LBDHI']]
    return df

In [82]:
import glob

DataFrame_Collection = list()
DataFrame_Collection.append(df_2015HIV)
DataFrame_Collection.append(df_2017HIV)

files = glob.glob("/Users/ruserel/NHANES_HIV_data/LBDHI/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [83]:
hivlist = list()
for df in DataFrame_Collection:
    hivlist.append(LBDHI_dataframe_cleaning(df))

In [84]:
hiv_merged_df = hivlist[0]
for i in range(1,10):
    hiv_merged_df = pd.concat([hiv_merged_df, hivlist[i]])

In [85]:
hiv_merged_df.shape

(35232, 2)

END OF HIV DATA

In [86]:
CUSEZN_column_names = {'SEQN': 'Respondent sequence number',
'WTSA2YR': 'Subsample A weights',
'LBXSCU': 'Serum Copper (ug/dL)',
'LBDSCUSI': 'Serum Copper (umol/L)',
'LBXSSE': 'Serum Selenium (ug/L)',
'LBDSSESI': 'Serum Selenium (umol/L)',
'LBXSZN': 'Serum Zinc (ug/dL)',
'LBDSZNSI': 'Serum Zinc (umol/L)'
}

def CUSEZN_dataframe_cleaning(df):
    df = df[list(CUSEZN_column_names.keys())]
    return df

In [87]:
import glob

DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_CUSEZN_data/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [88]:
cuseznlist = list()
for df in DataFrame_Collection:
    cuseznlist.append(CUSEZN_dataframe_cleaning(df))

In [89]:
cusezn_merged_df = cuseznlist[0]
for i in range(1,3):
    cusezn_merged_df = pd.concat([cusezn_merged_df, cuseznlist[i]])

In [90]:
cusezn_merged_df.shape

(8041, 8)

In [91]:
cusezn_merged_df.head()

,SEQN,WTSA2YR,LBXSCU,LBDSCUSI,LBXSSE,LBDSSESI,LBXSZN,LBDSZNSI
0,83732.0,417813.769575,87.8,13.78,141.1,1.79,88.5,13.54
1,83733.0,69865.162481,100.7,15.81,130.4,1.66,100.6,15.39
2,83734.0,38740.527210,123.0,19.31,126.4,1.61,98.7,15.10
3,83738.0,30315.182631,120.0,18.84,110.4,1.40,61.1,9.35
4,83741.0,112509.311779,92.6,14.54,119.9,1.52,86.2,13.19

********END OF CUSEZN DATA*******

In [92]:
FERRITIN_columns = {'SEQN': 'Respondent sequence number', 
                    'LBDFERSI': 'Ferritin (ug/L)'
}

In [93]:
df_2017ferritin = pd.read_sas('/Users/ruserel/FERTIN_J.XPT', format='xport', encoding='utf-8')
df_2017ferritin.head(5)

      SEQN  LBXFER  LBDFERSI
0  93703.0     NaN       NaN
1  93704.0    36.6      36.6
2  93705.0    28.7      28.7
3  93706.0   284.0     284.0
4  93707.0    49.3      49.3

In [94]:
def FERRITIN_dataframe_cleaning(df):
    df = df[['SEQN', 'LBDFERSI']]
    return df

In [95]:
import glob

DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_Ferritin_data/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [96]:
fertinlist = list()
for df in DataFrame_Collection:
    fertinlist.append(FERRITIN_dataframe_cleaning(df))

In [97]:
fertin_merged_df = fertinlist[0]
for i in range(1,6):
    fertin_merged_df = pd.concat([fertin_merged_df, fertinlist[i]])

In [98]:
fertin_merged_df.shape

(24758, 2)

In [99]:
fertin_merged_df.head()

      SEQN  LBDFERSI
0  51625.0      18.0
1  51630.0     126.0
2  51631.0       NaN
3  51639.0      27.0
4  51643.0      91.0

********END OF FERRITIN DATA*******

In [100]:
FOLATE_columns ={'SEQN':'Respondent sequence number', 
                 'LBDRFO':'RBC folate (ng/mL)', 
                 'LBDRFOSI':'RBC folate (nmol/L)'
    }

In [101]:
df_2009folate = pd.read_sas('/Users/ruserel/FOLATE_F.XPT', format='xport', encoding='utf-8')
df_2009folate.head(5)

      SEQN  LBDRBF  LBXRBFSI  LBDFOL  LBXFOLSI
0  51624.0   296.7     672.0    12.4      28.0
1  51625.0   472.4    1070.0    18.8      42.6
2  51626.0   158.5     359.0    14.2      32.2
3  51627.0   450.3    1020.0    15.1      34.3
4  51628.0   289.6     656.0     5.1      11.5

In [102]:
def FOLATE2_dataframe_cleaning(df):
    df = df[['SEQN', 'LBDRBF', 'LBXRBFSI']]
    df = df.rename(columns = {'LBDRBF':'LBDRFO','LBXRBFSI':'LBDRFOSI'})
    return df

In [103]:

DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_folate2_data/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [104]:
folatelist = list()
for df in DataFrame_Collection:
    folatelist.append(FOLATE2_dataframe_cleaning(df))

In [105]:
def FOLATE3_dataframe_cleaning(df):
    df = df[['SEQN', 'LBXRBF', 'LBDRBFSI']]
    df = df.rename(columns = {'LBXRBF':'LBDRFO','LBDRBFSI':'LBDRFOSI'})
    return df

In [106]:
DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_folate3_data/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [107]:
for df in DataFrame_Collection:
    folatelist.append(FOLATE3_dataframe_cleaning(df))

In [108]:
df_2013folate = pd.read_sas('/Users/ruserel/FOLATE_H.XPT', format='xport', encoding='utf-8')
df_2013folate.head(5)

      SEQN  LBDRFO  LBDRFOSI
0  73557.0   503.0    1140.0
1  73558.0   259.0     586.0
2  73559.0   746.0    1690.0
3  73560.0   450.0    1020.0
4  73561.0   746.0    1690.0

In [109]:
def FOLATE1_dataframe_cleaning(df):
    df = df[['SEQN', 'LBDRFO', 'LBDRFOSI']]
    return df

In [110]:

DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_folate1_data/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [111]:

for df in DataFrame_Collection:
    folatelist.append(FOLATE1_dataframe_cleaning(df))

In [112]:
folate_merged_df = folatelist[0]
for i in range(1,8):
    folate_merged_df = pd.concat([folate_merged_df, folatelist[i]])

In [113]:
folate_merged_df.head()

      SEQN  LBDRFO  LBDRFOSI
0  41475.0  1099.3    2490.0
1  41476.0   396.0     897.0
2  41477.0   613.7    1390.0
3  41478.0   587.2    1330.0
4  41479.0   582.8    1320.0

********END OF RBC-Folate DATA*******

In [114]:
VITB12_columns ={'SEQN':'Respondent sequence number', 
                 'LBXB12':'Vitamin B12( pg/mL)', 
                 'LBDB12SI':'Vitamin B12 (pmol/L)'   
}

In [115]:
df_2013vitb12 = pd.read_sas('/Users/ruserel/VITB12_H.XPT', format='xport', encoding='utf-8')
df_2013vitb12.head(1)

      SEQN  LBDB12  LBDB12SI
0  73557.0   524.0     386.7

In [116]:
df_2013vitb12 = df_2013vitb12.rename(columns = {'LBDB12':'LBXB12','LBDB12SI':'LBDB12SI'})
df_2013vitb12.head(1)

      SEQN  LBXB12  LBDB12SI
0  73557.0   524.0     386.7

In [117]:
def VITB12_dataframe_cleaning(df):
    df = df[['SEQN', 'LBXB12', 'LBDB12SI']]
    return df

In [118]:
DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_vitB12_data/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [119]:
vitB12list = list()
vitB12list.append(df_2013vitb12)
for df in DataFrame_Collection:
    vitB12list.append(VITB12_dataframe_cleaning(df))

In [120]:
vitB12_merged_df = vitB12list[0]
for i in range(1,6):
    vitB12_merged_df = pd.concat([vitB12_merged_df, vitB12list[i]])

In [121]:
vitB12_merged_df.shape

(48435, 3)

********END OF vitB12 DATA*******

In [122]:
VITB6_columns ={'SEQN':'Respondent sequence number', 
                'LBXPLP':'Pyridoxal 5-phosphate (nmol/L)'
    
}

In [123]:
df_2009vitb6 = pd.read_sas('/Users/ruserel/VIT_B6_F.XPT', format='xport', encoding='utf-8')
df_2009vitb6.head(1)

      SEQN  LBX4PA  LBXPLP
0  51624.0    30.3    86.5

In [124]:
df_2003vitb6 = pd.read_sas('/Users/ruserel/L43_C.XPT', format='xport', encoding='utf-8')
df_2003vitb6.head(1)

      SEQN  LBXVB6
0  21005.0    48.7

In [125]:
df_2003vitb6 = df_2003vitb6.rename(columns = {'LBXVB6':'LBXPLP'})

In [126]:
def VITB6_dataframe_cleaning(df):
    df = df[['SEQN', 'LBXPLP']]
    return df

In [127]:
DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_vitB6_data/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [128]:
vitB6list = list()
vitB6list.append(df_2003vitb6)
for df in DataFrame_Collection:
    vitB6list.append(VITB6_dataframe_cleaning(df))

In [129]:
vitB6_merged_df = vitB6list[0]
for i in range(1,4):
    vitB6_merged_df = pd.concat([vitB6_merged_df, vitB6list[i]])

In [130]:
vitB6_merged_df.shape

(37761, 2)

********END OF vitB6 DATA*******

In [131]:
VITD23_columns = {'SEQN':' Respondent sequence number', 
                  'LBXVD2MS':'5OHD2 (nmol/L)', 
                  'LBXVD3MS':'25OHD3 (nmol/L)', 
                  'LBXVE3MS':'epi-25OHD3 (nmol/L)'
    
}

In [132]:
df_2015vitD = pd.read_sas('/Users/ruserel/VID_I.XPT', format='xport', encoding='utf-8')
df_2015vitD.head(1)

,SEQN,LBXVIDMS,LBDVIDLC,LBXVD2MS,LBDVD2LC,LBXVD3MS,LBDVD3LC,LBXVE3MS,LBDVE3LC
0,83732.0,76.1,5.397605e-79,1.45,1.0,74.7,5.397605e-79,4.7,5.397605e-79

In [133]:
def VITD23_dataframe_cleaning(df):
    df = df[['SEQN', 'LBXVD2MS', 'LBXVD3MS', 'LBXVE3MS']]
    return df

In [134]:
DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_vitd23_data/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [135]:
vitd23list = list()
for df in DataFrame_Collection:
    vitd23list.append(VITD23_dataframe_cleaning(df))

In [136]:
vitd23_merged_df = vitd23list[0]
for i in range(1,5):
    vitd23_merged_df = pd.concat([vitd23_merged_df, vitd23list[i]])

In [137]:
#merged vvit D from 2007-2016
vitd23_merged_df.shape

(46685, 4)

In [138]:
vitd23_merged_df.head()

      SEQN  LBXVD2MS  LBXVD3MS  LBXVE3MS
0  41475.0      1.45      57.3      4.17
1  41476.0      1.45      79.4      5.52
2  41477.0      1.45      80.3      2.42
3  41478.0       NaN       NaN       NaN
4  41479.0      1.45      76.9      3.07

******END OF VITD23 *****

In [139]:
VITD3_columns = {'SEQN':'Respondent sequence number', 
                 'LBDVIDMS':'Vitamin D (nmol/L)'
    
}

In [140]:
def VITD3_dataframe_cleaning(df):
    df = df[['SEQN', 'LBDVIDMS']]
    return df

In [141]:
DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_vitd3_data/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [142]:
vitd3list = list()
for df in DataFrame_Collection:
    vitd3list.append(VITD3_dataframe_cleaning(df))

In [143]:
vitd3_merged_df = vitd3list[0]
for i in range(1,3):
    vitd3_merged_df = pd.concat([vitd3_merged_df, vitd3list[i]])

In [144]:
vitd3_merged_df.head(1)

      SEQN  LBDVIDMS
0  31128.0      32.6

In [145]:
#merged vit D from 2001-2006
vitd3_merged_df.shape

(27266, 2)

******END OF VITD3 *****

In [146]:
VITC_columns = {'SEQN':'Respondent sequence number', 
                'LBXVIC':'Vitamin C (mg/dL)', 
                'LBDVICSI':'Vitamin C (umol/L)'
    
}

In [147]:
   def VITC_dataframe_cleaning(df):
    df = df[['SEQN', 'LBXVIC', 'LBDVICSI']]
    return df

In [148]:
DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_vitC_data/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [149]:
vitClist = list()
for df in DataFrame_Collection:
    vitClist.append(VITC_dataframe_cleaning(df))

In [150]:
vitC_merged_df = vitClist[0]
for i in range(1,3):
    vitC_merged_df = pd.concat([vitC_merged_df, vitClist[i]])

In [151]:
vitC_merged_df.shape

(23503, 3)

******END OF VITC *****

In [152]:
VITAE_columns = {'SEQN':'Respondent sequence number', 
                 'LBXVIE':'Vitamin E (ug/dL)', 
                 'LBDVIESI':'Vitamin E (umol/L)', 
                 'LBXVIA':'Vitamin A (ug/dL)', 
                 'LBDVIASI':'Vitamin A (umol/L)'
    
}

In [153]:
df_2003VitAEC = pd.read_sas('/Users/ruserel/L45VIT_C.XPT', format='xport', encoding='utf-8')
df_2003VitAEC.head(1)

,SEQN,LBXATC,LBDATCSI,LBXALC,LBDALCSI,LBXACY,LBDACYSI,LBXBEC,LBDBECSI,LBXBCC,...,LBXPHE,LBDPHESI,LBXRPL,LBDRPLSI,LBXRST,LBDRSTSI,LBXVIA,LBDVIASI,LBXZEA,LBDZEASI
0,21005.0,791.0,18.367,0.39,0.0073,2.24,0.0405,1.85,0.0345,2.05,...,0.68,0.0125,0.37,0.0129,0.08,0.0028,45.29,1.5811,3.41,0.0599

In [154]:
df_2003VitAEC = df_2003VitAEC.rename(columns = {'LBXATC':'LBXVIE', 'LBDATCSI':'LBDVIESI'})
df_2003VitAEC = df_2003VitAEC[['SEQN', 'LBXVIE', 'LBDVIESI', 'LBXVIA', 'LBDVIASI']]
df_2003VitAEC.head(1)

      SEQN  LBXVIE  LBDVIESI  LBXVIA  LBDVIASI
0  21005.0   791.0    18.367   45.29    1.5811

In [155]:
   def VITAE_dataframe_cleaning(df):
    df = df[['SEQN', 'LBXVIE', 'LBDVIESI', 'LBXVIA', 'LBDVIASI']]
    return df

In [156]:
DataFrame_Collection = list()

files = glob.glob("/Users/ruserel/NHANES_vitAE_data/*.XPT")
for a in files:
    DataFrame_Collection.append( pd.read_sas(a, format='xport', encoding='utf-8'))

In [157]:
vitAElist = list()
vitAElist.append(df_2003VitAEC)
for df in DataFrame_Collection:
    vitAElist.append(VITAE_dataframe_cleaning(df))

In [158]:
vitAE_merged_df = vitAElist[0]
for i in range(1,4):
    vitAE_merged_df = pd.concat([vitAE_merged_df, vitAElist[i]])

In [159]:
vitAE_merged_df.shape

(34162, 5)

******END OF VITAE *****

### Merging all the data frames

In [160]:
#List of all dataframes
Combined_df_list = [demo_merged_df, Body_merged_df, Alcohol_merged_df, Smoking_merged_df, MedicalCond_merged_df, hiv_merged_df, CBC_merged_df, cusezn_merged_df, fertin_merged_df, 
                    folate_merged_df, vitB12_merged_df, vitB6_merged_df, vitd23_merged_df, vitd3_merged_df, 
                    vitC_merged_df, vitAE_merged_df]

In [161]:
#List of dataframe names
dfnames_list = ['demo_merged_df', 'Body_merged_df', 'Alcohol_merged_df', 'Smoking_merged_df', 'MedicalCond_merged_df', 'hiv_merged_df', 'CBC_merged_df', 'cusezn_merged_df', 'fertin_merged_df', 
                    'folate_merged_df', 'vitB12_merged_df', 'vitB6_merged_df', 'vitd23_merged_df', 'vitd3_merged_df', 
                    'vitC_merged_df', 'vitAE_merged_df']

In [162]:
from functools import partial, reduce

merge = partial(pd.merge, on=['SEQN'], how='outer')
fdf = reduce(merge, Combined_df_list)

In [163]:
type(fdf)

pandas.core.frame.DataFrame

In [164]:
fdf.head(5)

,SEQN,SDDSRVYR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDEXPRG,BMXWT,BMXBMI,ALQ130,...,LBXVD2MS,LBXVD3MS,LBXVE3MS,LBDVIDMS,LBXVIC,LBDVICSI,LBXVIE,LBDVIESI,LBXVIA,LBDVIASI
0,62161.0,7.0,1.0,22.0,264.0,3.0,N\A,69.2,23.3,NaN,...,1.45,75.36,4.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,62162.0,7.0,2.0,3.0,36.0,1.0,N\A,12.7,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62163.0,7.0,1.0,14.0,168.0,5.0,N\A,49.4,17.3,NaN,...,1.45,45.69,1.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,62164.0,7.0,2.0,44.0,528.0,3.0,2.0,67.2,23.2,NaN,...,1.45,90.73,4.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62165.0,7.0,2.0,14.0,168.0,4.0,N\A,69.1,27.2,NaN,...,1.45,60.70,4.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
fdf.shape

(101316, 52)

In [166]:

for df,name in zip(Combined_df_list, dfnames_list): 
    df.to_csv(name + '.csv')

In [167]:
df_cols = {
    "SEQN": "Respondent sequence number",
    "SDDSRVYR": "Data release cycle",
    "RIAGENDR": "Gender",
    "RIDAGEYR": "Age in years at screening",
    "RIDAGEMN": "Age in months at screening - 0 to 24 mos",
    "RIDRETH1": "Race/Hispanic origin",
    "RIDEXPRG": "Pregnancy status at exam",
    "LBXWBCSI" : "White blood cell count (1000 cells/uL)",
    "LBXLYPCT" : "Lymphocyte percent (%)",
    "LBXMOPCT" : "Monocyte percent (%)",
    "LBXNEPCT" : "Segmented neutrophils percent (%)",
    "LBXEOPCT" : "Eosinophils percent (%)",
    "LBXBAPCT" : "Basophils percent (%)",
    "LBDLYMNO" : "Lymphocyte number (1000 cells/uL)",
    "LBDMONO" : "Monocyte number (1000 cells/uL)",
    "LBDNENO" : "Segmented neutrophils num (1000 cell/uL)",
    "LBDEONO" : "Eosinophils number (1000 cells/uL)",
    "LBDBANO" : "Basophils number (1000 cells/uL)",
    "LBXRBCSI" : "Red blood cell count (million cells/uL)",
    'LBDHI': 'HIV Result (western blot)',
    'WTSA2YR': 'Subsample A weights',
    'LBXSCU': 'Serum Copper (ug/dL)',
    'LBDSCUSI': 'Serum Copper (umol/L)',
    'LBXSSE': 'Serum Selenium (ug/L)',
    'LBDSSESI': 'Serum Selenium (umol/L)',
    'LBXSZN': 'Serum Zinc (ug/dL)',
    'LBDSZNSI': 'Serum Zinc (umol/L)',
    'LBDFERSI': 'Ferritin (ug/L)',
    'LBDRFO':'RBC folate (ng/mL)', 
    'LBDRFOSI':'RBC folate (nmol/L)',
    'LBXB12':'Vitamin B12( pg/mL)', 
    'LBDB12SI':'Vitamin B12 (pmol/L)', 
    'LBXPLP':'Pyridoxal 5-phosphate (nmol/L)',
    'LBXVD2MS':'5OHD2 (nmol/L)', 
    'LBXVD3MS':'25OHD3 (nmol/L)', 
    'LBXVE3MS':'epi-25OHD3 (nmol/L)',
    'LBDVIDMS':'Vitamin D (nmol/L)',
    'LBXVIC':'Vitamin C (mg/dL)', 
    'LBDVICSI':'Vitamin C (umol/L)',
    'LBXVIE':'Vitamin E (ug/dL)', 
    'LBDVIESI':'Vitamin E (umol/L)', 
    'LBXVIA':'Vitamin A (ug/dL)', 
    'LBDVIASI':'Vitamin A (umol/L)',
    'BMXWT':'Weight (kg)', 
    'BMXBMI':'Body Mass Index (kg/m**2)',
    'ALQ130': 'Avg # alcoholic drinks/day -past 12 mos',
    'SMD650': 'Avg # cigarettes/day during past 30 days',
    'MCQ053': 'Taking treatment for anemia/past 3 mos',
    'MCQ220': 'Ever told you had cancer or malignancy',
    'MCQ230A': 'What kind of cancer',
    'MCQ230B': 'What kind of cancer',
    'MCQ230C': 'What kind of cancer'

    
}

In [168]:
New_colnames = {
    "SEQN": "ID",
    "SDDSRVYR": "Yr_Cycle",
    "RIAGENDR": "Gender",
    "RIDAGEYR": "Age(yr)",
    "RIDAGEMN": "Age(Months)",
    "RIDRETH1": "Race",
    "RIDEXPRG": "PregnStat",
    "LBXWBCSI" : "White_Cell_num",
    "LBXLYPCT" : "Lymphocyte(%)",
    "LBXMOPCT" : "Monocyte(%)",
    "LBXNEPCT" : "SegNeutrophil(%)",
    "LBXEOPCT" : "Eosinophil(%)",
    "LBXBAPCT" : "Basophil(%)",
    "LBDLYMNO" : "Lymphocyte_num",
    "LBDMONO" : "Monocyte_num",
    "LBDNENO" : "SegNeutrophil_num",
    "LBDEONO" : "Eosinophil_num",
    "LBDBANO" : "Basophil_num",
    "LBXRBCSI" : "Red_Cell_num",
    'LBDHI': 'HIV',
    'WTSA2YR': 'Subsweights',
    'LBXSCU': 'Cu(ug/dL)',
    'LBDSCUSI': 'Cu(umol/L)',
    'LBXSSE': 'Se(ug/L)',
    'LBDSSESI': 'Se(umol/L)',
    'LBXSZN': 'Zn(ug/dL)',
    'LBDSZNSI': 'Zn(umol/L)',
    'LBDFERSI': 'Fe(ug/L)',
    'LBDRFO':'Folate(ng/mL)', 
    'LBDRFOSI':'Folate(nmol/L)',
    'LBXB12':'VitB12(pg/mL)', 
    'LBDB12SI':'VitB12(pmol/L)', 
    'LBXPLP':'VitB6',
    'LBXVD2MS':'VitD2', 
    'LBXVD3MS':'VitD3', 
    'LBXVE3MS':'epiVitD3',
    'LBDVIDMS':'VitD(nmol/L)',
    'LBXVIC':'VitC(mg/dL)', 
    'LBDVICSI':'VitC(umol/L)',
    'LBXVIE':'VitE(ug/dL)', 
    'LBDVIESI':'VitE(umol/L)', 
    'LBXVIA':'VitA(ug/dL)', 
    'LBDVIASI':'VitA(umol/L)',
    'BMXWT':'Weight', 
    'BMXBMI':'BMI',
    'ALQ130': 'alco_dks_daily#',
    'SMD650': 'smokescigs_daily#',
    'MCQ053': 'had_anemia_treatment',
    'MCQ220': 'had_cancer',
    'MCQ230A': 'cancertype1',
    'MCQ230B': 'cancertype2',
    'MCQ230C': 'cancertype3'
}

In [169]:
#Rename all the columns

fdf.rename(columns=New_colnames,
          inplace=True)

In [170]:
fdf.shape

(101316, 52)

In [171]:
fdf.head()

,ID,Yr_Cycle,Gender,Age(yr),Age(Months),Race,PregnStat,Weight,BMI,alco_dks_daily#,...,VitD2,VitD3,epiVitD3,VitD(nmol/L),VitC(mg/dL),VitC(umol/L),VitE(ug/dL),VitE(umol/L),VitA(ug/dL),VitA(umol/L)
0,62161.0,7.0,1.0,22.0,264.0,3.0,N\A,69.2,23.3,NaN,...,1.45,75.36,4.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,62162.0,7.0,2.0,3.0,36.0,1.0,N\A,12.7,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62163.0,7.0,1.0,14.0,168.0,5.0,N\A,49.4,17.3,NaN,...,1.45,45.69,1.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,62164.0,7.0,2.0,44.0,528.0,3.0,2.0,67.2,23.2,NaN,...,1.45,90.73,4.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62165.0,7.0,2.0,14.0,168.0,4.0,N\A,69.1,27.2,NaN,...,1.45,60.70,4.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Final combined dataset saved as .csv file

In [172]:
#Save df as csv file
fdf.to_csv('NHANES_merged.csv', index=False)